{% extends "layouts/squelette.html" %}

{% block titre %} Page etudiant {% endblock %}
{% block titre_site %} Espace etudiant {% endblock %}

{% block dec %} 
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#" style="font-weight : 600"><form action="{{ url_for("logout") }}"><button type="submit" class="btn btn-primary btn-conn">Connexion</button></form></a></li>
  </ul>
{% endblock %}
  
{% block corps %} 

  <div class="row">
    <div class="col-md-4 col-md-offset-4" style="padding: 22px;">
      <form name="add_form" method="POST" action="" onsubmit="return validateForm()">

            <div class="form-group">
                <label for="prenom">Prenom</label>
                <input name="prenom" value="{{user['prenom']}}" type="text" id="prenom" class="form-control" placeholder="Prenom" required autofocus disabled>
            </div>
            <div class="form-group">
                <label for="nom">Nom</label>
                <input name="nom" disabled  value="{{user['nom'] }}" type="text" id="nom" class="form-control" placeholder="Nom" required autofocus>
            </div>
            <div class="form-group">
                <label for="niveau">niveau</label>
                <input name="niveau" value="{{user['niveau'] }}" disabled type="text" id="niveau" class="form-control" placeholder="niveau" required autofocus>
            </div>
            <div class="form-group">
                <label for="departement">Département</label>
                <input name="departement"  value="{{user['departement'] }}" disabled type="text" id="departement" class="form-control" placeholder="departement" required autofocus>
            </div>
            
            <div class="form-group">
                <label for="inputEmail">Email </label>
              <input name="email" disabled  value="{{user['email'] }}" type="email" id="inputEmail" class="form-control" placeholder="Identifiant" required autofocus>
            </div>
            <div class="form-group">
                <label for="telephone">Téléphone</label>
                <input name="ine"  value="{{user['telephone'] }}" disabled  type="number" id="telephone" class="form-control" placeholder="telephone" required autofocus>
            </div>
            <div class="form-group">
                <label for="ine">identifiant numero etudiant</label>
                <input name="ine"   type="text" id="ine" class="form-control" placeholder="ine" required autofocus>
            </div>
            <div class="form-group">
                <label for="cni">carte d  identité</label>
                <input  name="cni" type="number" id="cni" class="form-control" placeholder="cni" required autofocus>
            </div>
            <div class="form-group">
                <label for="dateNaissance">Date de naissance</label>
                <input name="dateNaissance" value="{{user['date_de_naissance'] }}" disabled type="text" id="dateNaissance" class="form-control" placeholder="Nom utlisateur" required autofocus>
            </div>
            <div class="form-group">
                <label for="username">Login </label>
              <input name="username" type="texte" id="username" class="form-control" placeholder="Nom utlisateur" required autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword">Mot de passe</label>
              <input name="mdp" type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Confirmation mot de passe </label>
                <input name="mdp2" type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            </div>
              
              
            <button  class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Enregistrer</button>
        
      </form>
      </div>
    </div>


    <script>
      function validateForm() 
      {
        var x = document.forms["add_form"]["username"].value;
        var y = document.forms["add_form"]["email"].value;
        var a = document.forms["add_form"]["mdp"].value;
        var b = document.forms["add_form"]["mdp2"].value;
        if (a==b) 
        {
            '{% for item in range(tab|length) %}'
            if (x == "{{ tab[item]}}") 
            {
                alert("Ce username existe deja !");
                return false;
            }
            else if (y == "{{ tab[item]}}") 
            {
                alert("Ce mail existe deja !");
                return false;
            }
            '{% endfor %}'
        }
        else
            alert('Desoler, les deux mots de passe ne sont pas conformes. Veuiller ressayer')
    }
  </script>
{% endblock %}

{% block footer %} {% endblock %}