{% extends "layouts/squelette.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for("static", filename="css/css.css") }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for("static", filename="css/all.css") }}">
{% endblock %}

{% block titre %} Page etudiant {% endblock %}
{% block titre_site %} Espace etudiant {% endblock %}

{% block dec %} 
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#" style="font-weight : 600"><form action= ><button type="submit" class="btn btn-primary btn-conn">Connexion</button></form></a></li>
  </ul>
{% endblock %}
  
{% block corps %} 

<form name="add_form" method="POST" action="{{ url_for('login') }}" onsubmit="return validateForm()">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="padding: 22px;">
        <div class="row">
            <div class="col-md-6" style="height: 340px;">
            <div class="panel panel-default" style="height: 100%; background-color: rgb(16, 100, 121); border: none; color: white;">
                <div class="panel-default" style="height: 100%;">
                    <div class="panel-body">
                        <p class="lead h1" style="text-align: center; font-weight: bold; color: rgb(242, 122, 33)">Gestion des logements universitaires</p>

                        <div class="form-group mb-5">
                            <label class="h4" style="opacity: 0.9;">
                                C'est une platforme qui permet la gestion compléte des logements universitaire de la 
                                reservation jusqu'à la fin du contrat. 
                                
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-default">
                    <div class="panel-heading"><h2 style="text-align: center;">Connexion</h2></div>
                        <div class="panel-body">
        
                            <div class="form-group">
                                <label for="inputPassword">Identifiant</label>
                                <input name="identifiant" type="text" id="inputEmail" class="form-control" placeholder="identifiant" required>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Mot de passe </label>
                                <input name="mdp" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <p for="inputPassword"><a href="#modalOublie" data-toggle="modal" data-target="#modalOublie">Mot de passe oublie ?</a></p>
                            </div>

                            {% include "modals/oublie_modal.html" %}
                             
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Connexion</button>
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</form> 






    <script>
      function validateForm() 
      {
        var x = document.forms["add_form"]["username"].value;
        var y = document.forms["add_form"]["email"].value;
        var a = document.forms["add_form"]["mdp"].value;
        var b = document.forms["add_form"]["mdp2"].value;
        if (a==b) 
        {
            '{% for item in range(tab|length) %}'
            if (x == "{{ tab[item] }}") 
            {
                alert("Ce username existe deja !");
                return false;
            }
            else if (y == "{{ tab[item]}}") 
            {
                alert("Ce mail existe deja !");
                return false;
            }
            '{% endfor %}'
        }
        else
            alert('Desoler, les deux mots de passe ne sont pas conformes. Veuiller ressayer')
    }
  </script>
{% endblock %}

{% block footer %} {% endblock %}